<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio : Index</title>
</head>
<body>
    <div>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, tempore sit quas magnam doloremque quisquam earum labore. Dolor nesciunt est accusantium magnam, accusamus eos consectetur cum deleniti deserunt ipsa modi.
        </article>
    </div>
</body>
</html>