<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio : Index</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        <h1>This is my website</h1>
    </div>
    <div>
        <h1>
            About me
        </h1>
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit delectus sapiente, optio architecto quod quos voluptates iste, quam et dolor laboriosam, ea odit? Sapiente ipsum rem, maxime est fugit in.
            </p>
        </div>
    </div>
    <div>
            <h1>
                My projects
            </h1>
        <div>
            <ul class="carousel">
                <li class="carousel-elt">
                    <p>
                        Project 1
                    </p>
                </li>
                                <li class="carousel-elt">
                    <p>
                        Project 1
                    </p>
                </li>                <li class="carousel-elt">
                    <p>
                        Project 1
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h1>My socials</h1>
    </div>

    <footer>Hello</footer>

</body>
</html>